
<!-- <div class="container"> -->
    <footer class="d-flex flex-wrap justify-content-between align-items-end py-3 px-4">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
            <img src="/Image/logo.png" alt="logo" height="50">
          </a>
          <span class="">© 2024 Sawwar Blog, Inc</span>
        </div>
      
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334v-.425A6.72 6.72 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.816 6.533 6.533 0 0 1-2.084.794A3.28 3.28 0 0 0 7.88 7.033 9.325 9.325 0 0 1 1.114 2.1a3.284 3.284 0 0 0 1.013 4.382 3.274 3.274 0 0 1-1.487-.41v.041a3.285 3.285 0 0 0 2.63 3.218 3.203 3.203 0 0 1-.865.114c-.211 0-.417-.02-.615-.057a3.287 3.287 0 0 0 3.066 2.277A6.588 6.588 0 0 1 1 13.027a9.29 9.29 0 0 0 5.026 1.468"/>
              </svg>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                <path d="M8 0C5.793 0 5.556.01 4.723.048c-.833.04-1.404.174-1.913.373a3.937 3.937 0 0 0-1.43.921 3.937 3.937 0 0 0-.922 1.429c-.198.51-.332 1.08-.372 1.913C.008 5.556 0 5.793 0 8s.01 2.444.048 3.277c.04.833.174 1.403.373 1.913.198.51.473.986.922 1.429.51.51.986.724 1.43.921.51.198 1.08.332 1.913.373C5.556 15.992 5.793 16 8 16s2.444-.01 3.277-.048c.833-.04 1.403-.174 1.913-.373a3.937 3.937 0 0 0 1.429-.922 3.937 3.937 0 0 0 .921-1.43c.198-.51.332-1.08.373-1.913.038-.833.048-1.07.048-3.277s-.01-2.444-.048-3.277c-.04-.833-.174-1.404-.373-1.913a3.937 3.937 0 0 0-.921-1.43 3.937 3.937 0 0 0-1.43-.921c-.51-.198-1.08-.332-1.913-.373C10.444.008 10.207 0 8 0zm0 1.5c2.392 0 2.447.009 3.293.048.785.036 1.212.166 1.492.278a2.682 2.682 0 0 1 1.006.65 2.682 2.682 0 0 1 .65 1.006c.112.28.242.707.278 1.492.039.846.048.901.048 3.293s-.009 2.447-.048 3.293c-.036.785-.166 1.212-.278 1.492a2.682 2.682 0 0 1-.65 1.006 2.682 2.682 0 0 1-1.006.65c-.28.112-.707.242-1.492.278-.846.039-.901.048-3.293.048s-2.447-.009-3.293-.048c-.785-.036-1.212-.166-1.492-.278a2.682 2.682 0 0 1-1.006-.65 2.682 2.682 0 0 1-.65-1.006c-.112-.28-.242-.707-.278-1.492C1.509 10.447 1.5 10.392 1.5 8s.009-2.447.048-3.293c.036-.785.166-1.212.278-1.492a2.682 2.682 0 0 1 .65-1.006 2.682 2.682 0 0 1 1.006-.65c.28-.112.707-.242 1.492-.278C5.553 1.509 5.608 1.5 8 1.5zm0 2.625a3.875 3.875 0 1 0 0 7.75 3.875 3.875 0 0 0 0-7.75zm0 6.375a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm3.438-6.875a.875.875 0 1 0 0-1.75.875.875 0 0 0 0 1.75z"/>
              </svg>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="https://www.facebook.com/ayman.chowdhury.7731/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                <path d="M8.338 15.951V8.675h2.206l.331-2.564H8.338V4.731c0-.74.206-1.245 1.269-1.245h1.355V1.267c-.234-.031-.861-.083-1.641-.083-1.622 0-2.73.991-2.73 2.81v1.571H4.557v2.564h2.035v7.276h1.746z"/>
              </svg>
            </a>
          </li>
        </ul>
      </footer>
      
  <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
